# Исключаем папки, которые не нужны для сборки образа
node_modules
.build
.cache

# Исключаем файлы редактора и операционной системы
*.log
*.swp
*.DS_Store
*.idea
*.vscode
Thumbs.db

# Исключаем тестовые файлы
__tests__/
__mocks__/
*.test.*
*.spec.*
coverage/
